<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>BR</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>BusRoute</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Pages</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="Route.html"><i class="fa fa-circle-o"></i>Routes</a>
            </li>
            <li>
              <a href="Place.html"><i class="fa fa-circle-o"></i>Place</a>
            </li>
          </ul>
        </li>
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-table"></i> <span>Search</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="SearchRoute.html"
                ><i class="fa fa-circle-o"></i>Search Route</a
              >
            </li>
            <li class="active">
              <a href="SearchPlace.html"
                ><i class="fa fa-circle-o"></i>Search Place</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Serach Place <small>Test</small></h1>
      <br />
      <!-- search form -->
      <div>
        <div class="row" style="margin-bottom: 15px">
          <div class="col-md-1 text-right">
            <label>Search</label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" id="usr" />
          </div>
          <div class="col-md-1">
            <button class="btn btn-add" style="margin-left: -40%">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-md-2">
            <a href="Place.html"><button class="btn btn-add">Add</button></a>
            <button class="btn btn-add">Delete All</button>
          </div>
        </div>
      </div>
      <!-- /.search form -->
    </section>

    <!-- Main content -->

    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="box">
            <div class="box-header">
              <div class="col-md-4 text-left"></div>
              <div class="col-12 text-right">
                <button class="btn btn-add">Edit</button>
                <button class="btn btn-add">Delete</button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Mã trạm</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ghgjgghjghjhjghjhjjhgyjh</td>
                    <td>kuhkjhjkhhkjhh</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li>
        <a href="#control-sidebar-home-tab" data-toggle="tab"
          ><i class="fa fa-home"></i
        ></a>
      </li>
      <li>
        <a href="#control-sidebar-settings-tab" data-toggle="tab"
          ><i class="fa fa-gears"></i
        ></a>
      </li>
    </ul>
  </aside>
  <!-- /.control-sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
