<!-- <form method="POST" action="/Route/addroute">
  <div class="form-group">
    <label for="from">from</label>
    <input type="text" name="from" class="form-control" />
  </div>
  <div class="form-group">
    <input type="text" name="places[]" value="" />
  </div>
  <div class="form-group">
    <input type="text" name="places[]" value="" />
  </div>
  <div class="form-group">
    <input type="text" name="places[]" value="" />
  </div>
  <input type="submit" value="Submit" class="btn btn-primary" />
</form> -->
